<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is the Login Page</h1>
	
     <form action="{{ url_for('create_user') }}" method="post">
     	<input type="text" name="newUsername" placeholder="Enter New User" />
     	<input type="submit" value="Add User" />
    </form>
    
     <form action="{{ url_for('authenticate_Username') }}" method="post">
        <input type="text" name="authUsername" placeholder="Enter a username" />
        <input type="submit" value="Log In" />
    </form>

     <form action="{{ url_for('create_item') }}" method="post">
        <input type="text" name="newItem" placeholder="Enter new item" />
        <input type="submit" value="Add Item" />
    </form>
    <p> In order to change one item with another, enter the id of the task you wish to replace with the name of the task you wish to insert</p>
    <form action="{{ url_for('change_item') }}" method="post">
        <input type="text" name="itemID" placeholder="Enter item ID" />
        <input type="text" name="newItem" placeholder="Enter new item" />
        <input type="submit" value="Change Item" />
    </form>
    <p> In order to Delete an item, enter the id of the task you wish to delete</p>
    <p>The id of a item can be found in the Get All items button</p>
    <form action="{{ url_for('delete_item') }}" method="post">
        <input type="text" name="itemID" placeholder="Enter item ID" />
        <input type="submit" value="Delete Item" />
    </form>
    <p> In order to mark an item as completed, enter the id of the task you wish to delete</p>
    <form action="{{ url_for('complete_item') }}" method="post">
        <input type="text" name="itemID" placeholder="Enter item ID" />
        <input type="submit" value="Mark Item As Completed" />
    </form>


    <form action="{{ url_for('profile') }}">
        <input type="submit" value="Profile" style="height:100px; width:100px"/>
</form>

   <form action="{{ url_for('get_items_id') }}">
        <input type="submit" value="Get All Items" style="height:100px; width:100px" />
    </form> 

   

 <form action="{{ url_for('logout') }}">
     	<input type="submit" value="Logout" style="height:100px; width:100px"/>
    </form>

</body>
</html>